
# dev dependecy
black==22.6.0
flake8==4.0.1
isort==5.10.1

Django==4.0.5
asgiref
certifi
charset-normalizer
django-request
gunicorn
idna
matplotlib
pip
python-dateutil
requests
setuptools
six
sqlparse
tzdata
urllib3
wheel
whitenoise