{% extends 'app/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}


<header id="gtco-header" class="gtco-cover" role="banner"
    style="background-image: url(../../../static/img/onndann.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Temperature Sense　Forecast Map</span>
                        <h1>Log-in</h1>
                    </div>
                    <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                        <div class="form-wrap">
                            <div class="tab">
                                <div class="tab-content">
                                    <div class="tab-content-inner active" data-content="signup">
                                        <form action="{% url 'login' %}" method="post">
                                            {% csrf_token %}
                                            <div class="col-md-12">
                                                <label>{{ form.username.label }}</label>
                                                {{ form.username|add_class:"form-control" }}
                                                <label>{{ form.password.label }}</label>
                                                {{ form.password|add_class:"form-control" }}
                                            </div>
                                            <br>
                                            <div class="row form-group">
                                                <div class="col-md-12 col-10"
                                                    style="text-align: center; margin-top: 10px">
                                                    <input type="submit" class="btn btn-primary" value="ログイン">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}
