{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
        style="height: 10rem; background-image: url(../../../static/img/onndann.jpg);">
    <div class="overlay"></div>
    <div class="gtco-container">

    </div>
</header>


<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>success_signup</h2>
                <p>ようこそ！！</p>
                <hr>
            </div>
        </div>
    </div>
</div>

{% endblock %}
