{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="page-inner">
    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>指定地域の暑さ指数</h2>
                    <p>指定された地域の暑さ指数情報を表示します。</p>
                    <hr>
                </div>
            </div>
            <!--
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <div style="height: 3px;text-align: center;" class="price-box popular">
                        <div class="popular-text">緯度</div>
                        <h4 class="pricing-plan">{{ lat }}</h4>
                    </div>
                    <div style="height: 3px;text-align: center;" class="price-box popular">
                        <div class="popular-text">経度</div>
                        <h4 class="pricing-plan">{{ lon }}</h4>
                    </div>
                </div>
                -->
            <div class="col-md-12 col-md-offset1 text-center gtco-heading">
                <div class="price-box popular">
                    <h2 class="pricing-plan">暑さabout</h2>
                    <p>暑さ指数</p>
                    <hr>
                    <ol style="text-align: center; " class="sample1">
                        <li><a>暑さ指数：{{ wbgt_now }}</a></li>
                        <br>
                        <li><a>対策：{{ wbgt_status_now }}</a></li>
                        <br>
                        <li><a>24時間後までの最大暑さ指数：{{ wbgt_max }}（{{ max_time }}）</a></li>
                        <br>
                        <li><a>最大暑さ指数の対策：{{ wbgt_status_max }}</a></li>
                        <br>
                        <li><a>一日の暑さ指数推移</a></li>
                        <br>
                    </ol>
                    <img style="width: 100%" src="data:image/png;base64,{{ chart | safe }}">
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 text-center gtco-heading">
            <div class="price-box popular">
                <h2 class="pricing-plan">近隣地域</h2>
                <hr>
                <ol style="text-align: center; " class="sample1">
                    {% for i in tikaku %}
                    <li><a>
                            {{ i.juusyo }}
                            {{ i.lat }}
                            {{ i.lng }}
                        </a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}