{% extends 'app/base.html' %}
{% block content %}
    {% load static %}



    <div class="page-inner">


        <div class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading" style="margin-bottom:-300px">
                        <h2>暑さ指数観測map</h2>
                        <small>全国の暑さ指数の分布を確認できます。</small>
                    </div>

                </div>
            </div>

        </div>
 <div class="gtco-section" style="padding: 0; margin-left: 10%">


                        <iframe name='itr' src="{% url 'HeatMap' %}" width='90%' height='1000px'></iframe>


</div>
    </div>

    <!--住所-->
    <!-- <script type="text/javascript" src="https://geoapi.heartrails.com/api/geoapi.js"></script> -->
    <script type="text/javascript" src="{% static 'js/geoapi.js' %}"></script>


{% endblock %}