{% load static %}
<!DOCTYPE html>
<head>
       <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="email=no,telephone=no,address=no">
        <title>TemperatureSenseForecastMap</title>
        <meta name="description" content="TemperatureSenseForecastMap">

        <meta name="robots" content="index,follow">

    <link rel="icon" href="{% static 'img/icon2.png' %}">
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

    <link rel="stylesheet"  href="{% static 'css/kihonnstyle.css' %}"/>

    <!--位置情報-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <link rel="stylesheet"  href="{% static 'css/L.Control.Locate.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/L.Control.Locate.min.js' %}"></script>
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_290f8bf58b504a9dbb050469d3255ec9 {
                    position: relative;
                    width: 100.0%;
                    height: 91.0%;
                    left: 0.0%;
                    top: -20px;
                }
                header{
                    position: relative;
                    z-index: 1000000;
                }
            </style>

</head>
<body>
<!-- top nav -->



<form action="{% url "Map" %}" method="GET">
	
	<label for="address">住所を指定：</label>
	<input type="text" name="address" id="address" placeholder="例）[都道府県][市区町村][町名]" list="address_list">
	<datalist id="address_list">
	<option value="岐阜県各務原市那加新那加町"></option>
	<option value="岐阜県各務原市三井町"></option>
	<option value="岐阜県各務原市"></option>
	<option value="岐阜県"></option>
	</datalist>
	<button>まっぷを見る</button>
	
</form>


<!-- footer -->
<div  id="footer">

    <!-- footer nav -->
    <ul class="navbar-nav list-inline">
        <li class="first">
            <a href="">運営会社</a>
        </li>
        <li>
            <a href="">関連会社</a>
        </li>
        <li>
            <a href="">利用規約</a>
        </li>
        <li>
            <a href="">社会貢献</a>
        </li>
        <li style="width:100px;">
            <a href="">お問い合わせ</a>
        </li>
    </ul>

    <!-- clear fix -->
    <div class="clearfix"></div>
    <!-- sns icons -->
    <ul class="sns-icon list-inline">
        <li>
            <i class="fa fa-twitter fa-3x"></i>
        </li>
        <li>
            <i class="fa fa-facebook fa-3x"></i>
        </li>
        <li>
            <i class="fa fa-github fa-3x"></i>
        </li>
    </ul>
    <!-- copy right -->
    <div class="copy">
        <span>Copyright &#169; 2015 All Rights Reserved.</span>
    </div>
</div>
<!-- end footer -->

</body>