{% extends 'app/base.html' %}
{% block content %}
    {% load static %}



    <div class="page-inner">
        <div class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading" style="margin-bottom:30px">
                        <h2>暑さ指数clickmap</h2>
                        <small>clickした位置の暑さ状況を確認できます。</small>
                    </div>
                    <div class="row">
                        <iframe name='itr' src="{% url 'Map' %}" width='100%' height='500px'></iframe>
                    </div>


                </div>




            </div>
               <hr>
        </div>

        <div id="gtco-subscribe">

            <div class="gtco-container">

                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">

                        <h2>住所指定での暑さ指数検索</h2>
                        <p>指定した住所の暑さ状況を確認できます。</p>
                    </div>
                </div>
                <div id="kennsaku" class="row animate-box">
                    <div class="col-md-8 col-md-offset-2">

                        <form style="text-align: center;" class="" action="{% url 'Mapdetail' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <select id="geoapi-prefectures" name="geoapi-prefectures">
                                <option value="都道府県を選択してください">都道府県を選択してください</option>
                            </select>
                            <select id="geoapi-cities" name="geoapi-cities">
                                <option value="市区町村名を選択してください">市区町村名を選択してください</option>
                            </select>

                            <select id="geoapi-towns" name="geoapi-towns">
                                <option value="町域を選択してください">町域を選択してください</option>
                            </select>
                            <br>
                            <div class="col-md-12 col-sm-12">
                                <button type="submit" class="btn btn-default btn-block">暑さ指数を見る</button>
                            </div>

                            <br>


                            <br>
                            <br>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="gtco-section border-bottom">
            <div id="sisuu" class="gtco-container">
                <div class="row">
                    <div class="col-md-8 text-left gtco-heading">
                        <h2>- 暑さ指数 -</h2>
                        <p>WBGT（湿球黒球温度）: Wet Bulb Globe Temperature</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                            <div class="feature-copy">
                                <h3>・暑さ指数とは</h3>
                                <p>熱中症を予防することを目的として1954年にアメリカで提案された指標です。 単位は気温と同じ摂氏度（℃）で示されますが、その値は気温とは異なります。</p>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                            <div class="feature-copy">
                                <h3>・指標</h3>
                                <p>暑さ指数（WBGT）は人体と外気との熱のやりとり（熱収支）に着目した指標で、人体の熱収支に与える影響の大きい下記の３つを取り入れた指標です。
                                    <br>
                                    <br>
                                    ①湿度
                                    <br>
                                    ②日射・輻射(ふくしゃ)など周辺の熱環境
                                    <br>
                                    ③気温
                                </p>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-check"></i>
                        </span>
                            <div class="feature-copy">
                                <h3>暑さ指数の使い方</h3>
                                <p>
                                    暑さ指数（WBGT）は労働環境や運動環境の指針として有効であると認められ、ISO等で国際的に規格化されています。<br>
                                    （公財）日本スポーツ協会では「熱中症予防運動指針」、日本生気象学会では「日常生活に関する指針」を下記のとおり公表しています。労働環境では世界的にはISO7243、国内ではJIS　Z
                                    8504　「WBGT（湿球黒球温度）指数に基づく作業者の熱ストレスの評価－暑熱環境」として規格化されています。</p>

                                <br>
                                引用:https://www.wbgt.env.go.jp/wbgt.php
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 macbook-wrap animate-box" data-animate-effect="fadeInRight">
                        <img src="{% static 'img/mockuper.png' %}" alt="Free HTML5 Bootstrap Template">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--住所-->
    <!-- <script type="text/javascript" src="https://geoapi.heartrails.com/api/geoapi.js"></script> -->
    <script type="text/javascript" src="{% static 'js/geoapi.js' %}"></script>


{% endblock %}