{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <style>
        .locations {
            display: flex;
            flex-flow: column;
        }

        .location_columns {
            display: flex;
            flex-flow: row;
        }

        .button {
            display: inline-block;
            border-style: solid;
            color: black;
            background-color: rgb(225, 224, 224);
            border-width: 1px;
            border-color: darkgray;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <main>
        <div class="locations">
            <div class="location_columns">
                名前を入力してください。
                <form method="post">{% csrf_token %}
                    <input id="location_name" name="location_name" type="text">
                    <input id="location_id" name="location_id" type="hidden" value={{ location_id }}>
                    <input id="ido" name="ido" type="hidden" value={{ ido }}>
                    <input id="keido" name="keido" type="hidden" value={{ keido }}>
                    <input type="submit" name="save" class="button" href={{ link }} value="保存"></input>
                </form>
            </div>
        </div>

    </main>
    <script type="text/javascript">
        function LinkClick(id) {
            var f = document.forms["form3"];
            console.log(id, f);
            f.method = "POST";
            f.submit();
            return true;
        }
    </script>
</body>

</html>