{% load static %}
<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="email=no,telephone=no,address=no">
    <title>TemperatureSenseForecastMap</title>
    <meta name="description" content="TemperatureSenseForecastMap">
    <meta name="robots" content="index,follow">

    <link rel="icon" href="{% static 'img/icon2.png' %}">
    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdn.geolonia.com/community-geocoder.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

    <link rel="stylesheet"  href="{% static 'css/kihonnstyle.css' %}"/>

    <!--位置情報-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet"  href="{% static 'css/L.Control.Locate.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/L.Control.Locate.min.js' %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        #map_290f8bf58b504a9dbb050469d3255ec9 {
            position: relative;
            width: 100.0%;
            height: 100.0%;
            left: 0.0%;
            top: 0%;
        }
        header{
            position: relative;
            z-index: 1000000;
        }
    </style>
</head>

<body>
    <form style="position: absolute;" class="" action="{% url "Mapdetail" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <input id="lat" type="hidden" name="lat" value="" /><input id="lng" type="hidden" name="lng" value="" />
        <input class="btn btn-danger btn-lg" style=" z-index: 10000;position: relative; top: 10px; left: 50px; width: 210px" type="submit" name="button" value="この場所の情報を見る" onclick="return checkForm();">
    </form>
    <div class="folium-map" id="map_290f8bf58b504a9dbb050469d3255ec9" ></div>
</body>

<script>
    
    var RLet = 35.41222;
    var RLng =139.41303;
        
    var getQuery = window.location.search;
    console.log("q", getQuery);
    if(getQuery){
        getQuery = getQuery.substring(1);
        var ele = getQuery.split('&')[0].split('=')[1]
        
        //ele ="〇県〇郡〇町"
        
        console.log("___", ele, "__");
        if(ele && ele.match(/\S*/g)){
            console.log("not empty");
            getLatLng(decodeURIComponent(ele), (result) => {
                console.log(decodeURIComponent(ele));
                console.log("緯度: ", result.lat);
                console.log("経度: ", result.lng);
                
                map_290f8bf58b504a9dbb050469d3255ec9.setView([result.lat, result.lng], 12);
                
            });
        }
    
    }
    
    function checkForm(){
        if(document.getElementById('lat').value === "" || document.getElementById('lon').value === ""){
            alert("地図をclickして場所を指定してください。");
        return false;
        }else{
        return true;
        }
    }

    var map_290f8bf58b504a9dbb050469d3255ec9 = L.map(
        "map_290f8bf58b504a9dbb050469d3255ec9",
        {
            center: [RLet, RLng],
            crs: L.CRS.EPSG3857,
            zoom: 12,
            maxZoom: 20,
            minZoom: 2,
            zoomControl: true,
            preferCanvas: false,
        }
    );


    // Locate
    var option = {
        position: 'topright',
        strings: {
            title: "現在地を表示",
            popup: "現在地",
        },
        icon: "fa fa-street-view",
        locateOptions: {
            maxZoom: 16
        }
    }

    var lc = L.control.locate(option).addTo(map_290f8bf58b504a9dbb050469d3255ec9);
    lc.start();

    var marker;

    //クリックイベント
    map_290f8bf58b504a9dbb050469d3255ec9.on('click', function(e) {
        //クリック位置経緯度取得
        lat = e.latlng.lat;
        lng = e.latlng.lng;

        // 住所表示
        //var URL = 'http://geoapi.heartrails.com/api/xml?method=searchByGeoLocation&x='+lat+'&y='+lng;
        //var juusyo =(await (await fetch(URL)).text());

        //経緯度表示

        if (marker){
            map_290f8bf58b504a9dbb050469d3255ec9.removeLayer(marker);
        }
        marker = L.marker(
            [lat,lng],
            {}
        ).addTo(map_290f8bf58b504a9dbb050469d3255ec9).bindPopup('緯度：'+lat +'<br>経度：'+lng+'').openPopup();

        document.getElementById('lat').value = lat;
        document.getElementById('lng').value = lng;
        console.log('333')
        console.log(document.getElementById('lng').value)
    } );


    var tile_layer_85a2cce753be43fa9a07cd65d0a9ee94 = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
    ).addTo(map_290f8bf58b504a9dbb050469d3255ec9);
    
    
    console.log(map_290f8bf58b504a9dbb050469d3255ec9["options"]["center"])
    console.log(7777)
</script>