{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <style>
        .locations {
            display: flex;
            flex-flow: column;
        }

        .location_columns {
            display: flex;
            flex-flow: row;
        }
    </style>
</head>

<body>
    <main>
        <form method="post">
            {% csrf_token %}
            <div class="locations">
                <div class="location_columns">
                    <input id="location_1" name="location_1" type="text" value={{ location1 }}>
                    <input id="ido_1" name="lat_1" type="hidden" value={{ ido_1 }}>
                    <input id="keido_1" name="keido_1" type="hidden" value={{ keido_1 }}>
                    <button type="button" onclick="window.open({% url 'Map' %})">選択</button>
                </div>
                <div class="location_columns">
                    <input id="location_2" name="location_2" type="text" value={{ location2 }}>
                    <input id="ido_2" name="lat_2" type="hidden" value={{ ido_1 }}>
                    <input id="keido_2" name="keido_2" type="hidden" value={{ keido_1 }}>
                    <button type="button" onclick="window.open({% url 'Map' %})">選択</button>
                </div>
                <div class="location_columns">
                    <input id="location_3" name="location_3" type="text" value={{ location3 }}>
                    <input id="ido_3" name="lat_3" type="hidden" value={{ ido_1 }}>
                    <input id="keido_3" name="keido_3" type="hidden" value={{ keido_1 }}>
                    <button type="button" onclick="window.open({% url 'Map' %})">選択</button>
                </div>
                <div><button type="submit" name="save_button">保存</button></div>
            </div>
        </form>
    </main>
</body>

</html>