{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <style>
        .locations {
            display: flex;
            flex-flow: column;
        }

        .location_columns {
            display: flex;
            flex-flow: row;
        }
    </style>
</head>

<body>
    <main>
        <div class="locations">
            <ul id="location_columns">
            </ul>
        </div>

        <div id="add_location">
            <button onclick="location.href='{{ link }}'">追加</button>
        </div>

    </main>

    <script type="text/javascript">
        const data = JSON.parse('{{ locations|safe }}');
        console.log("data", data);

        for (let i = 0; i < data.length; i++) {
            var new_elem = document.createElement("li");
            new_elem.textContent = data[i];
            console.log(new_elem);
            document.getElementById("location_columns").appendChild(new_elem);
        }

        if (data.len == 3) {
            document.getElementById("add_location").hidden = true;
        }
    </script>
</body>

</html>