{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <style>
        .locations {
            display: flex;
            flex-flow: column;
        }

        .location_columns {
            display: flex;
            flex-flow: row;
        }

        .button {
            display: inline-block;
            border-style: solid;
            color: black;
            background-color: rgb(225, 224, 224);
            border-width: 1px;
            border-color: darkgray;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <main>
        <div class="locations">
            <div class="location_columns">
                <form method="post">
                    <input id="location" name="location" type="text" value={{ location_1 }}>{% csrf_token %}
                    <input id="ido" name="ido" type="hidden" value={{ ido_1 }}>
                    <input id="keido" name="keido" type="hidden" value={{ keido_1 }}>
                    <input type="submit" class="button" href={{ link_1 }} value="選択"></input>
                </form>
            </div>
            <div class="location_columns">
                <form method="post">
                    <input id="location" name="location" type="text" value={{ location_2 }}>{% csrf_token %}
                    <input id="ido" name="ido" type="hidden" value={{ ido_2 }}>
                    <input id="keido" name="keido" type="hidden" value={{ keido_2 }}>
                    <input type="submit" class="button" href={{ link_2 }} value="選択"></input>
                </form>
            </div>
            <div class="location_columns">
                <form name="form3" method="post" action={{ link_3 }}>
                    <input id="location" name="location" type="text" value={{ location_3 }}>{% csrf_token %}
                    <input id="ido" name="ido" type="hidden" value={{ ido_3}}>
                    <input id="keido" name="keido" type="hidden" value={{ keido_3 }}>
                </form>
                <a onclick="LinkClick(3);" class="button" href={{ link_3 }}>選択</a>
            </div>
            <!-- <div><button type="submit" name="save_button">保存</button></div> -->
        </div>

    </main>
    <script type="text/javascript">
        function LinkClick(id) {
            var f = document.forms["form3"];
            console.log(id, f);
            f.method = "POST";
            f.submit();
            return true;
        }
    </script>
</body>

</html>