{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<link rel="stylesheet"  href="{% static 'css/weather_style.css' %}"/>
	<link rel="stylesheet"  href="{% static 'weather-icons-master/css/weather-icons.min.css' %}"/>
</head>
<body>
	<a href="{% url "index" %}">ホームページへ</a>
	<h1>天気予報</h1>
	<div class="image-box">
		<img src="{% static 'img/JAPAN.png' %}"/>
		
		<div class="sapporo">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="niigata">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="senndai">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="tokyo">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="nagoya">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="kanazawa">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="oosaka">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="hirosima">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="kouti">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="hukuoka">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		<div class="naha">
			<i class="wi wi-day-sunny"></i>
			<div><span class="max-Temp">23</span> / <span class="min-Temp">19</span></div>
			<b class="humidity">80%</b>
		</div>
		
		
	</div>
</body>
</html>